services:
  nextjs:
    container_name: nextjs-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    env_file:
      - .env
    environment:
      GROQ_API_KEY: ${GROQ_API_KEY}
    restart: unless-stopped
